on boot
    chmod 0644 /sys/class/backlight/amdgpu_bl0/brightness
    chown system system /sys/class/backlight/amdgpu_bl0/brightness

service vendor.light-hal-2-0 /vendor/bin/hw/android.hardware.light@2.0-service.jupiter
    class hal
    user system
    group system
    shutdown critical
